* {
    font-family:"Century Gothic", sans-serif;
}

#add_event {
    position:  relative;
    border: teal 7px;
    box-shadow: 0 0 7px 3px #3ac8bf;
    height: auto;
    width: 900px;
    margin: 20px auto;
    float: left;
    text-align: center;
    background-color: #00a5a5;
    border-radius: 7px;
}

.new_event {
    margin: 20px;
    color: white;
}

.new_event_input {
    box-shadow: 0 4px 6px -5px hsl(176, 56%, 51%), inset 0px 4px 6px -5px #3ac8bf;
    border-radius: 7px;
    height: 20px;
    width: 200px;
}

#add_event_button {
    margin: 20px;
    color: #005353;
    background-color: #efd7dc;
    opacity: 25%;
    width: 200px;
    height: auto;
    padding: 5px;
    box-shadow: 0 0 7px 3px teal;
    border-radius: 7px;
}
#add_event_button:hover {
    background: #efaadf;
    border-color: rgba(228, 149, 195, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}